*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
}

body
{
    place-content: center;
    height: 100vh;
    background-color: rgb(130, 182, 231);  
    font-family: Roboto, sans-serif;
}

p{
    font-size: 1.3rem;
    align-items: center;
    align-content: center;
   
}
span{
    font-size: 1.4rem;
    text-align: center;
    align-content: center;
    font-weight: 600;
    color: black;
    
    &:nth-child(2){
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        border: 2px solid rgb(255, 72, 0);
    }
}

main
{
   
    max-width: 40rem;
    margin: 0 auto;
   
}

.current-day, footer
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 2rem 2.5rem;
      color: rgb(126, 126, 126);
      font-weight: 500;
}


.days, .dates
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    row-gap: 2.5rem;
    padding: 1.5rem 2.5rem;
    background-color: rgb(255, 255, 255);
      
}
.days{
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: .5rem;
    color: rgb(126, 126, 126);
    
}
.dates{
    padding-bottom: 2.5rem;

    .notification{
        
        position: relative;

        &::after{
            align-items: center;
            align-content: center;
            content: "";
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            top: 0;
            color: #fff;
            font-size: 1rem;

            }
        }

    p{
         font-weight: 500;
        
          &:nth-child(-n + 4){
            color: rgb(199, 199, 199);
          }

        &:nth-child(11){
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            background-color: rgb(231, 78, 17);
            color: #fff;
      
        }
        &:nth-child(20){
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            border: 2px solid rgb(231, 78, 17);
            position: relative;

              &::after{
                content: " 6";
                background-color: rgb(231, 78, 17);
            }
            
        }
        &:nth-child(23){
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            border: 2px solid rgb(163, 14, 156);

             &::after{
                content: "5";
                background-color: rgb(163, 14, 156);
            }
        }
        
    }
}